.about {
	box-sizing: border-box;
	position: relative;
	background-color: var(--pri-clr);
	color: var(--clr-white);
	padding: 3rem 3rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about_cont {
	margin-inline: auto;
	max-width: min(100%, 900px - 2rem);
}

.about * {
	color: var(--clr-white);
}

.almost {
	font-style: italic;
	font-family: var(--ff-sans);
	font-weight: 400;
	font-size: 1.5rem;
}

.about_title {
	font-family: var(--ff-sans);
	font-weight: 400;
	text-align: center;
	font-size: 5.5rem;
	margin-block: 1rem 2rem;
}

.about_text {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.about_text_desc {
	font-size: 1.1rem;
	flex-basis: 66%;
	column-count: 2;
}

.since_svg {
	width: 150px;
}

.clients {
	display: flex;
}

@media (max-width: 700px) {
	.about {
		padding: 2rem 1rem;
	}
	.about_text {
		flex-wrap: wrap;
	}
	.about_title {
		font-size: 4rem;
	}
	.almost {
		font-size: 1rem;
	}

	.about_text_desc {
		column-count: 1;
		text-align: center;
		flex-basis: 100%;
		max-width: 400px;
	}

	.since_svg {
		position: absolute;
		top: 50%;
		left: 10%;
		width: 60px;
		opacity: 0.7;
	}
}

@media (max-width: 800px) {
	.about_title {
		font-size: 3rem;
	}
}
