@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");

:root {
	--pri-clr: #1b4ecc;
	--pri-clr-dark: #1e4098;

	--clr-white: #fbf9f9;

	--ff-serif: "Cormorant Garamond", serif;
	--ff-sans: "Bebas Neue", sans-serif;

	--fs-regular: 14px;
}

* {
	font-family: var(--ff-serif);
	color: var(--pri-clr);
}

body {
	margin: 0;
	padding: 0;

	font-size: var(--fs-regular);
	background-color: var(--clr-white);
}

.container {
	--max-width: 1100px;
	--padding: 1rem;

	margin-inline: auto;
	width: min(var(--max-width), 100% - var(--padding) * 2);
}
