.pri_btn {
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--pri-clr);
	border: none;
	border-radius: 100vh;
	padding: 0.25rem 1rem;
	transition: all ease 200ms;
}

.pri_btn:hover {
	background-color: var(--pri-clr-dark);
}

.pri_btn:active {
	scale: 0.97;
}
